<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<div class="mainbody left-fl">
  <div class="mainbody-content w1020px marginauto">
      <div class="left-area w220px left-fl">

          <div class="block menu-list branch-mobile "><h4 class="pd5x10"> Danh mục</h4>
              <ul class="nav nav-list w190px bs-docs-sidenav ">
                  <li>
                        <a href="#" >
                        <span class="branch-mobile">Apple</span>
                          <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Iphone</a></li>
                            <li><a href="#">Ipad</a></li>
                            <li><a href="#">Sửa chữa Iphone </a></li>
                            <li><a href="#">Phụ kiện Iphone </a></li>
                        </ul>
                    </li>
                    <li><a href="#">
                        <span class="branch-mobile">Nokia</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Lumia</a></li>
                            <li><a href="#">Điện thoại mới</a></li>
                            <li><a href="#">Điện thoại cũ</a></li>
                            <li><a href="#">Sửa chữa Nokia </a></li>
                            <li><a href="#">Phụ kiện Nokia </a></li>
                        </ul>
                    </li>
                    <li ><a href="#" >
                        <span class="branch-mobile">SamSung</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Galaxy </a></li>
                            <li><a href="#">Điện thoại mới</a></li>
                            <li><a href="#">Điện thoại cũ</a></li>
                            <li><a href="#">Sửa chữa SamSung </a></li>
                            <li><a href="#">Phụ kiện SamSung </a></li>
                        </ul>
                    </li>
                    <li><a href="#" >
                        <span class="branch-mobile">LG Electronic</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Optimus </a></li>
                            <li><a href="#">Điện thoại mới</a></li>
                            <li><a href="#">Điện thoại cũ</a></li>
                            <li><a href="#">Sửa chữa LG </a></li>
                            <li><a href="#">Phụ kiện LG </a></li>
                        </ul>
                    </li>
                    <li><a href="#" >
                        <span class="branch-mobile">Sony</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Xperia </a></li>
                            <li><a href="#">Điện thoại mới</a></li>
                            <li><a href="#">Điện thoại cũ</a></li>
                            <li><a href="#">Sửa chữa Sony </a></li>
                            <li><a href="#">Phụ kiện Sony </a></li>
                        </ul>
                    </li>
                    <li><a href="#" >
                        <span class="branch-mobile">HTC</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                            <li><a href="#">Điện thoại mới</a></li>
                            <li><a href="#">Điện thoại cũ</a></li>
                            <li><a href="#">Sửa chữa HTC </a></li>
                            <li><a href="#">Phụ kiện HTC </a></li>
                        </ul>
                    </li>
                    <li><a href="#" >
                        <span class="branch-mobile">Sky Pantech</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Điện thoại mới </a></li>
                            <li><a href="#">Điện thoại cũ </a></li>
                            <li><a href="#">Dịch vụ & Sửa chữa </a></li>
                            <li><a href="#">Phụ kiện Sky </a></li>
                        </ul>
                    </li>
                    <li><a href="#" >
                        <span class="branch-mobile">Oppo</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Điện thoại mới </a></li>
                            <li><a href="#">Điện thoại cũ </a></li>
                            <li><a href="#">Dịch vụ & Sửa chữa </a></li>
                            <li><a href="#">Phụ kiện Oppo </a></li>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="block menu-list accessories"><h4 class="pd5x10">Phụ kiện</h4>
              <ul class="nav nav-list w190px bs-docs-sidenav">
                  <li><a href="#" >Tai nghe</a></li>
                    <li><a href="#" >Tai nghe Blutooth</a></li>
                    <li><a href="#">Pin</a></li>
                    <li><a href="#" >Vỏ máy</a></li>
                    <li><a href="#" >Ốp lưng</a></li>
                </ul>
            </div>

            <div class="block menu-list supportlive"><h4 class="pd5x10 ">Hỗ trợ trực tuyến</h4>
              <ul class="nav nav-list w190px ">
                  <li><a href="#">
                    Kinh doanh 1:
                    </a></li>
                    <li><a href="#">
                    Kinh doanh 2:
                    </a></li>
                    <li><a href="#">
                    Kinh doanh 3:
                    </a></li>
                    <li><a href="#">
                    Kinh doanh 4:
                    </a></li>
                </ul>
            </div>

        </div>
        <div class="right-area w775px left-fl pd10">

  <!-- Start WOWSlider.com HEAD section -->
  <link rel="stylesheet" type="text/css" href="css/wowhome.css" />
  <script type="text/javascript" src="js/wowslider/jquery.js"></script>
  <!-- End WOWSlider.com HEAD section -->
</head>
<body style="background-color:#d7d7d7">
  <div id="wowslider-container1">
  <div class="ws_images"><ul>
<li><%= link_to image_tag("123.jpg") %></li>
<li><%= link_to image_tag("1234.jpg") %></li>
</ul></div>
<div class="ws_bullets"></div>
  <div class="ws_shadow"></div>
  </div>
  <script type="text/javascript" src="js/wowslider/wowslider.js"></script>
  <script type="text/javascript" src="js/wowslider/script.js"></script>
            <div class=" group group-Accessories left-fl wp100">
              <ul class="wp100 clean">

                    <li style="margin:0px 1px;"><%= link_to image_tag("acc-ip.png") %></li>
                    <li><%= link_to image_tag("acc-samsung.png") %></li>
                </ul>
            </div>
          <!--END=Accessories-->
            <div class="clear wp100"></div>
            <!--GridProduct-->

            <!--GridProduct-->
            <!--Nhom san pham-->
            <div class="group product clearfix">

                <div class="header2">
                <span class="title">
                <span>
                  <strong>Dịch vụ sửa chữa</strong>
                </span>
                </span>
            </div>

              <div class="grid w255px  left-fl mg-top5 gachbottom" >

                  <div class="left-fl imgProduct w110px">
                      <a href="#"><span class="imgProduct">
                      <%= link_to image_tag("201306201731053300_find-piano_OPPO.png", class: "resizeP-Home") %>
                        </span></a>
                    </div>

                    <div class="left-fl desProduct w130px">
                      <ul class="desProduct clean">
                          <h6>Màn hình Iphone </h6>
                          <li><b>Xuất sứ:</b> Chính hãng</li>
                            <li><b>Bảo hành:</b> 12 Tháng</li>
                            <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                            <li><b>Tình trạng:</b> BrandNew</li>
                            <li><b>Trạng thái:</b> Còn hàng</li>
                            <li class="gift"> Khuyến mại</li>
                        </ul>
                    </div>
                    <div class="clear mg-left30 ">
                      <span class="btn btn-info ">3.500.000</span>
                      <span class="btn btn-inverse ">Chi tiết</span>
                    </div>

                </div>
                <div class="grid w255px  left-fl mg-top5 gachbottom" >

                  <div class="left-fl imgProduct w110px">
                      <a href="#"><span class="imgProduct">
                      <%= link_to image_tag("201307091643208514_oppo-find-5.png", class: "resizeP-Home") %>
                        </span></a>
                    </div>

                    <div class="left-fl desProduct w130px">
                      <ul class="desProduct clean">
                          <h6>Thay màn Ipad</h6>
                          <li><b>Xuất sứ:</b> Chính hãng</li>
                            <li><b>Bảo hành:</b> 12 Tháng</li>
                            <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                            <li><b>Tình trạng:</b> BrandNew</li>
                            <li><b>Trạng thái:</b> Còn hàng</li>
                            <li class="gift"> Khuyến mại</li>
                        </ul>
                    </div>
                    <div class="clear mg-left30 ">
                      <span class="btn btn-info ">5.000.000</span>
                      <span class="btn btn-inverse ">Chi tiết</span>
                    </div>
                </div>
                <div class="grid w255px  left-fl mg-top5 gachbottom" >
                    <div class="left-fl imgProduct w110px">
                      <a href="#"><span class="imgProduct">
                      <%= link_to image_tag("201307091643209450_find_clover.png", class: "resizeP-Home") %>
                        </span></a>
                    </div>
                    <div class="left-fl desProduct w130px">
                      <ul class="desProduct clean">
                          <h6>Ipad Mini 16GB</h6>
                          <li><b>Xuất sứ:</b> Chính hãng</b></li>
                            <li><b>Bảo hành:</b> 12 Tháng</li>
                            <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                            <li><b>Tình trạng:</b> New</li>
                            <li><b>Trạng thái:</b> Còn hàng</li>
                            <li class="gift"> Khuyến mại</li>
                        </ul>
                    </div>
                    <div class="clear mg-left30 ">
                      <span class="btn btn-info ">13.000.000</span>
                      <span class="btn btn-inverse ">Chi tiết</span>
                    </div>
                </div>

            </div>
            <!--END=GridProduct-->
            <div class="clear "></div>

<!--Nhom san pham-->
    <div class="group product clearfix">
    <!--title-->
    <div class="header2">
        <span class="title">
        <span>
            Điện thoại
        </span>
        </span>
    </div>

        <div class="grid w255px  left-fl mg-top5 gachbottom" >

            <div class="left-fl imgProduct w110px">
                <a href="#"><span class="resizeP-Home">
                <%= link_to image_tag("201209130941192978_iphone5_hoanghamobile3.jpg", class: "resizeP-Home") %>
                </span></a>
            </div>

            <div class="left-fl desProduct w130px">
                <ul class="desProduct clean">
                    <h6>Iphone 4S 16Gb</h6>
                    <li><b>Xuất sứ:</b> Chính hãng</li>
                    <li><b>Bảo hành:</b> 12 Tháng</li>
                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                    <li><b>Tình trạng:</b> BrandNew</li>
                    <li><b>Trạng thái:</b> Còn hàng</li>
                    <li class="gift"> Khuyến mại</li>
                </ul>
            </div>
            <div class="clear mg-left30 ">
                <span class="btn btn-info ">13.000.000</span>
                <span class="btn btn-inverse ">Chi tiết</span>
            </div>
        </div>
        <div class="grid w255px  left-fl mg-top5 gachbottom" >

            <div class="left-fl imgProduct w110px">
                <a href="#"><span class="resizeP-Home">
                <%= link_to image_tag("201211051040239600_ipad4_1.png", class: "resizeP-Home") %>
                </span></a>
            </div>

            <div class="left-fl desProduct w130px">
                <ul class="desProduct clean">
                    <h6>Ipad 4 16GB</h6>
                    <li><b>Xuất sứ:</b> Chính hãng</li>
                    <li><b>Bảo hành:</b> 12 Tháng</li>
                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                    <li><b>Tình trạng:</b> BrandNew</li>
                    <li><b>Trạng thái:</b> Còn hàng</li>
                    <li class="gift"> Khuyến mại</li>
                </ul>
            </div>
            <div class="clear mg-left30 ">
                <span class="btn btn-info ">13.000.000</span>
                <span class="btn btn-inverse ">Chi tiết</span>
            </div>
        </div>
        <div class="grid w255px  left-fl mg-top5 gachbottom" >

            <div class="left-fl imgProduct w110px">
                <a href="#"><span class="imgProduct">
                <%= link_to image_tag("201303151506133450_one v.jpg", class: "resizeP-Home") %>
                </span></a>
            </div>

            <div class="left-fl desProduct w130px">
                <ul class="desProduct clean">
                    <h6>Ipad Mini 16GB</h6>
                    <li><b>Xuất sứ:</b> Chính hãng</b></li>
                    <li><b>Bảo hành:</b> 12 Tháng</li>
                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                    <li><b>Tình trạng:</b> BrandNew</li>
                    <li><b>Trạng thái:</b> Còn hàng</li>
                    <li class="gift"> Khuyến mại</li>
                </ul>
            </div>
            <div class="clear mg-left30 ">
                <span class="btn btn-info ">13.000.000</span>
                <span class="btn btn-inverse ">Chi tiết</span>
            </div>
        </div>
        <div class="grid w255px  left-fl mg-top5 gachbottom" >

            <div class="left-fl imgProduct w110px">
                <a href="#"><span class="imgProduct">
                <%= link_to image_tag("201303151506133450_one v.jpg", class: "resizeP-Home") %>
                </span></a>
            </div>

            <div class="left-fl desProduct w130px">
                <ul class="desProduct clean">
                    <h6>Ipad Mini 16GB</h6>
                    <li><b>Xuất sứ:</b> Chính hãng</b></li>
                    <li><b>Bảo hành:</b> 12 Tháng</li>
                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                    <li><b>Tình trạng:</b> BrandNew</li>
                    <li><b>Trạng thái:</b> Còn hàng</li>
                    <li class="gift"> Khuyến mại</li>
                </ul>
            </div>
            <div class="clear mg-left30 ">
                <span class="btn btn-info ">13.000.000</span>
                <span class="btn btn-inverse ">Chi tiết</span>
            </div>

        </div>
        <div class="grid w255px  left-fl mg-top5 gachbottom" >

            <div class="left-fl imgProduct w110px">
                <a href="#"><span class="imgProduct">
                <%= link_to image_tag("201210031523066780_dien-thoai-di-dong-samsung-galaxy-noteii-n7100-hoanghamobile.com-9.jpg", class: "resizeP-Home") %>
                </span></a>
            </div>

            <div class="left-fl desProduct w130px">
                <ul class="desProduct clean">
                    <h6>Iphone 4S 16Gb</h6>
                    <li><b>Xuất sứ:</b> Chính hãng</li>
                    <li><b>Bảo hành:</b> 12 Tháng</li>
                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                    <li><b>Tình trạng:</b> BrandNew</li>
                    <li><b>Trạng thái:</b> Còn hàng</li>
                    <li class="gift"> Khuyến mại</li>
                </ul>
            </div>
            <div class="clear mg-left30 ">
                <span class="btn btn-info ">13.000.000</span>
                <span class="btn btn-inverse ">Chi tiết</span>
            </div>

        </div>
        <div class="grid w255px  left-fl mg-top5 gachbottom" >

            <div class="left-fl imgProduct w110px">
                <a href="#"><span class="imgProduct">
                <%= link_to image_tag("201306261547156936_samsung_galaxy_mega_5.8_duo.png", class: "resizeP-Home") %>
                </span></a>
            </div>

            <div class="left-fl desProduct w130px">
                <ul class="desProduct clean">
                    <h6>Ipad 4 16GB</h6>
                    <li><b>Xuất sứ:</b> Chính hãng</li>
                    <li><b>Bảo hành:</b> 12 Tháng</li>
                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                    <li><b>Tình trạng:</b> BrandNew</li>
                    <li><b>Trạng thái:</b> Còn hàng</li>
                    <li class="gift"> Khuyến mại</li>
                </ul>
            </div>
            <div class="clear mg-left30 ">
                <span class="btn btn-info ">13.000.000</span>
                <span class="btn btn-inverse ">Chi tiết</span>
            </div>
        </div>
        <div class="grid w255px  left-fl mg-top5 gachbottom" >

            <div class="left-fl imgProduct w110px">
                <a href="#"><span class="imgProduct">
                <%= link_to image_tag("1.png", class: "resizeP-Home") %>
                </span></a>
            </div>

            <div class="left-fl desProduct w130px">
                <ul class="desProduct clean">
                    <h6>Ipad 4 16GB</h6>
                    <li><b>Xuất sứ:</b> Chính hãng</li>
                    <li><b>Bảo hành:</b> 12 Tháng</li>
                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                    <li><b>Tình trạng:</b> BrandNew</li>
                    <li><b>Trạng thái:</b> Còn hàng</li>
                    <li class="gift"> Khuyến mại</li>
                </ul>
            </div>
            <div class="clear mg-left30 ">
                <span class="btn btn-info ">13.000.000</span>
                <span class="btn btn-inverse ">Chi tiết</span>
            </div>
        </div>
        <div class="grid w255px  left-fl mg-top5 gachbottom" >

            <div class="left-fl imgProduct w110px">
                <a href="#"><span class="imgProduct">
                <%= link_to image_tag("2.png", class: "resizeP-Home") %>
                </span></a>
            </div>

            <div class="left-fl desProduct w130px">
                <ul class="desProduct clean">
                    <h6>Ipad 4 16GB</h6>
                    <li><b>Xuất sứ:</b> Chính hãng</li>
                    <li><b>Bảo hành:</b> 12 Tháng</li>
                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                    <li><b>Tình trạng:</b> BrandNew</li>
                    <li><b>Trạng thái:</b> Còn hàng</li>
                    <li class="gift"> Khuyến mại</li>
                </ul>
            </div>
            <div class="clear mg-left30 ">
                <span class="btn btn-info ">13.000.000</span>
                <span class="btn btn-inverse ">Chi tiết</span>
            </div>
        </div>
        <div class="grid w255px  left-fl mg-top5 gachbottom" >

            <div class="left-fl imgProduct w110px">
                <a href="#"><span class="imgProduct">
                <%= link_to image_tag("3.png", class: "resizeP-Home") %>
                </span></a>
            </div>

            <div class="left-fl desProduct w130px">
                <ul class="desProduct clean">
                    <h6>Ipad 4 16GB</h6>
                    <li><b>Xuất sứ:</b> Chính hãng</li>
                    <li><b>Bảo hành:</b> 12 Tháng</li>
                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                    <li><b>Tình trạng:</b> BrandNew</li>
                    <li><b>Trạng thái:</b> Còn hàng</li>
                    <li class="gift"> Khuyến mại</li>
                </ul>
            </div>
            <div class="clear mg-left30 ">
                <span class="btn btn-info ">13.000.000</span>
                <span class="btn btn-inverse ">Chi tiết</span>
            </div>
        </div>
    </div>
    <!--END=GridProduct-->
    <div class="clear"></div>


            <div class="clear "></div>

            <div class="group product clearfix">

            <div class="header2">
                <span class="title">
                <span>
                  Phụ kiện điện thoại
                </span>
                </span>
            </div>

        <div class="grid left-fl pd5" >
          <ul class="thumbnails">
            <li class="w230px">
            <div class="thumbnail">
                        <%= link_to image_tag("201107221116256764_g1.jpg") %>
                <div class="caption">
                            <a href="#"><h5>Bao da Ipad Belk Chính hãng</h5></a>
                            <p>300.000</p>
                            <%= link_to("Dat hang ngay", order_path, class: "btn btn-primary") %></p>
                        </div>

            </div>
            </li>
                    <li class="w230px">
                      <div class="thumbnail">
                        <%= link_to image_tag("201112311125425625_PPSL-2.png") %>
                        <div class="caption">
                            <a href="#"><h5>Bao da Ipad Belk Chính hãng</h5></a>
                            <p>300.000</p>
                            <%= link_to("Dat hang ngay", order_path,class: "btn btn-primary") %></p>

                        </div>

                      </div>
                    </li>
                    <li class="w230px">
                      <div class="thumbnail">
                        <%= link_to image_tag("Image 32.png") %>
                        <div class="caption">
                            <a href="#"><h5>Sạc Iphone - Original</h5></a></p>
                            <p>300.000</p>
                            <%= link_to("Dat hang ngay", order_path,class: "btn btn-primary") %></p>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>

            </div>
        </div>

    </div>
</div>

</body>
</html>
