<div class="container">
  <ul class="nav nav-pills">
  <li role="presentation"><%= link_to t(".home"), root_path %></li>
  <li role="presentation"><%= link_to t(".maytinh"), "#" %></li>
  <li role="presentation"><%= link_to t(".dienthoai"), "#" %></li>
  <li role="presentation"><%= link_to t(".maytinhbang"), "#" %></li>
  <li role="presentation"><%= link_to t(".phukien"), "#" %></li>
  <li role="presentation"><%= link_to t(".tintuc"), "#" %></li>
</ul>
</div>
