<footer class="footer">
  <nav>
    <ul><address>
      <li><strong>HỆ THỐNG MTVMobile</strong></li>
      <li>Tầng 11 ,tòa nhà Handico, Phạm Hùng, Mễ Trì, Hà Nội</li>
      <li> Tel : 0978.102.493 </li>
    </address>
    </ul>
  </nav>
    <nav>
    <ul>
      <li><strong>VỀ CHÚNG TÔI</strong></li>
      <li><%= link_to "Quy định về bảo mật thông tin", "#" %></li>
      <li><%= link_to "Chính sách cộng tác viên", "#" %></li>
      <li><%= link_to "Tuyển dụng", "#" %></li>
      <li><%= link_to "Chính sách nhượng quyền thương hiệu", "#" %></li>
    </ul>
  </nav>
    <nav>
    <ul>
      <li><strong>DỊCH VỤ KHÁCH HÀNG</strong></li>
      <li><%= link_to "Dịch vụ trả góp","#" %></li>
      <li><%= link_to "Chính sách đổi trả hàng", "#" %></li>
      <li><%= link_to "Vận chuyển và giao nhận", "#" %></li>
      <li><%= link_to "Chính sách bảo hành MTVmobile", "#" %></li>
      <li><%= link_to "Tra cứu thông tin bảo hành", "#" %></li>

    </ul>
  </nav>
</footer>
