<footer class="footer">
  <nav>
    <ul><address>
      <li><strong><%=t ".hethong" %></strong></li>
      <li><%=t ".address1" %></li>
      <li><%=t ".address2" %></li>
      <li><%=t ".tel" %></li>
    </address>
    </ul>
  </nav>
    <nav>
    <ul>
      <li><strong><%=t ".about" %></strong></li>
      <li><%= link_to t(".quydinh"), "#" %></li>
      <li><%= link_to t(".chinhsach"), "#" %></li>
      <li><%= link_to t(".tuyendung"), "#" %></li>
    </ul>
  </nav>
    <nav>
    <ul>
      <li><strong><%=t ".dichvu" %></strong></li>
      <li><%= link_to t(".tragop"),"#" %></li>
      <li><%= link_to t(".doitra"), "#" %></li>
      <li><%= link_to t(".vanchuyen"), "#" %></li>
      <li><%= link_to t(".baohanh"), "#" %></li>
    </ul>
  </nav>
</footer>
