<head>
<div class="mainbody left-fl">
  <div class="mainbody-content w1020px marginauto">
      <div class="left-area w220px left-fl">

          <div class="block menu-list branch-mobile "><h4 class="pd5x10"> Danh mục</h4>
              <ul class="nav nav-list w190px bs-docs-sidenav ">
                  <li>
                        <a href="#" >
                        <span class="branch-mobile">Apple</span>
                          <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Iphone</a></li>
                            <li><a href="#">Ipad</a></li>
                            <li><%= link_to t(".suachua"), "#" %></li>
                            <li><%= link_to t(".phukien"), "#" %></li>
                        </ul>
                    </li>
                    <li><a href="#">
                        <span class="branch-mobile">Nokia</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Lumia</a></li>
                            <li><%= link_to t(".dientnew"), "#" %></li>
                            <li><%= link_to t(".dientold"), "#" %></li>
                            <li><%= link_to t(".suachua"), "#" %></li>
                            <li><%= link_to t(".phukien"), "#" %></li>
                        </ul>
                    </li>
                    <li ><a href="#" >
                        <span class="branch-mobile">SamSung</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Galaxy </a></li>
                            <li><%= link_to t(".dientnew"), "#" %></li>
                            <li><%= link_to t(".dientold"), "#" %></li>
                            <li><%= link_to t(".suachua"), "#" %></li>
                            <li><%= link_to t(".phukien"), "#" %></li>
                        </ul>
                    </li>
                    <li><a href="#" >
                        <span class="branch-mobile">LG Electronic</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Optimus </a></li>
                            <li><%= link_to t(".dientnew"), "#" %></li>
                            <li><%= link_to t(".dientold"), "#" %></li>
                            <li><%= link_to t(".suachua"), "#" %></li>
                            <li><%= link_to t(".phukien"), "#" %></li>
                        </ul>
                    </li>
                    <li><a href="#" >
                        <span class="branch-mobile">Sony</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                          <li><a href="#">Xperia </a></li>
                            <li><%= link_to t(".dientnew"), "#" %></li>
                            <li><%= link_to t(".dientold"), "#" %></li>
                            <li><%= link_to t(".suachua"), "#" %></li>
                            <li><%= link_to t(".phukien"), "#" %></li>
                        </ul>
                    </li>
                    <li><a href="#" >
                        <span class="branch-mobile">HTC</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                            <li><%= link_to t(".dientnew"), "#" %></li>
                            <li><%= link_to t(".dientold"), "#" %></li>
                            <li><%= link_to t(".suachua"), "#" %></li>
                            <li><%= link_to t(".phukien"), "#" %></li>
                        </ul>
                    </li>
                    <li><a href="#" >
                        <span class="branch-mobile">Sky Pantech</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                            <li><%= link_to t(".dientnew"), "#" %></li>
                            <li><%= link_to t(".dientold"), "#" %></li>
                            <li><%= link_to t(".suachua"), "#" %></li>
                            <li><%= link_to t(".phukien"), "#" %></li>
                        </ul>
                    </li>
                    <li><a href="#" >
                        <span class="branch-mobile">Oppo</span>
                            <span class="branch-mobile-logo"></span>
                        </a>
                        <ul >
                            <li><%= link_to t(".dientnew"), "#" %></li>
                            <li><%= link_to t(".dientold"), "#" %></li>
                            <li><%= link_to t(".suachua"), "#" %></li>
                            <li><%= link_to t(".phukien"), "#" %></li>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="block menu-list accessories"><h4 class="pd5x10">Phụ kiện</h4>
              <ul class="nav nav-list w190px bs-docs-sidenav">
                  <li><a href="#" >Tai nghe</a></li>
                    <li><a href="#" >Tai nghe Blutooth</a></li>
                    <li><a href="#">Pin</a></li>
                    <li><a href="#" >Vỏ máy</a></li>
                    <li><a href="#" >Ốp lưng</a></li>
                </ul>
            </div>

            <div class="block menu-list supportlive"><h4 class="pd5x10 ">Hỗ trợ trực tuyến</h4>
              <ul class="nav nav-list w190px ">
                  <li><a href="#">
                    Kinh doanh 1:
                    </a></li>
                    <ul>0978.102.493</ul>
                    <li><a href="#">
                    Kinh doanh 2:
                    </a></li>
                    <ul>0123.102.245</ul>
                </ul>
            </div>

        </div>
        <div class="right-area w775px left-fl pd10">

  <!-- Start WOWSlider.com HEAD section -->
  <link rel="stylesheet" type="text/css" href="css/wowhome.css" />
  <script type="text/javascript" src="js/wowslider/jquery.js"></script>
  <!-- End WOWSlider.com HEAD section -->
</head>
